.card {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
 .card-header {

  width: 80px;
  height: 80px;
border-radius: 50%;
margin-right: 20px;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.card .card-body {
  width: 230px;
  color: #909090;
font-size: 12px;
font-weight: 400;
}
.card img {
  width: 50px;
height: 50px;
}
.card-img {

margin: 0;
}
.card .card-title {
color: #5094f2;
font-size: 20px;
font-weight: 400;

}
.card .card-description {

}

.card-portfolio .card-title {

}
.pencil {
  background-color: #5094f2;
}
.tele {
  background-color: #d94748;
}
.basket {
  background-color: #ebbb11;
}
.blue-basket {
  margin: 0 auto;
  width: 215px;
height: 162px;
}
.gray-title {
  padding-bottom: 30px;
text-align: center;
color: #6f7173;
font-size: 42px;
font-weight: 400;
}
.bullets {
  text-align: left;
}

@media screen and (min-width: 720px) {

  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cart-container {
    display: flex;
  }
  .blue-basket {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  }
