.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}


.logo {
  letter-spacing: 0.42px;
  color: #000000;
  font-size: 49px;
}

@media screen and (min-width: 720px) {

  .col-1-3 {
    width: 33.3%;
  }
  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cart-container {
    display: flex;
  }
  .layout {
    width: 50%;
    margin-right: 30px;

  }
  .layout2 {
    width: 60%;
    margin-top: 50px;
  }
  }
