.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-title {
margin: 0;
text-align: center;
}
.hero-background {
position: absolute;
z-index: -2;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-image: url(../../images/dsfsdfsdfds.png);
background-repeat: no-repeat;
background-size: cover;
}
.hero-border {
  z-index: -1;
  height: 6.5px;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url(../../images/zyb.png);
  display: none;
}
 .hero-foreground {
}
.ipone {
height: auto;

}
.hero-container {
  position: relative;
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-left {

  width: 40%;
margin-right: 30px;
}
.hero-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
color: #ffffff;
font-size: 19px;

}

.hero-description {
}
.description-content {
  padding-top: 20px;
  display: block;
}
@media screen and (min-width: 720px) {
  .hero-border {
    display: block;
  }
  .hero-container {
    display: flex;
    flex-direction: row;
  }
  .hero-right {
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-left: 30px; }
}
