.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-title {
margin: 0;
}
.hero-background {
position: absolute;
z-index: -2;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-image: url(../../images/dsfsdfsdfds.png);
background-repeat: no-repeat;
background-size: cover;
}
.hero-border {
  z-index: -1;
  height: 6.5px;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url(../../images/zyb.png);
}
.hero-foreground {
}
.ipone {
  width: 100%;

}
.hero-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
.hero-left {
margin-right: 30px;
width: 20vw;
width: 30%;
}
.hero-right {
  width: 60vw;
  width: 70%;
color: #ffffff;
font-size: 12px;

}

.hero-description {
  width: 200px;
}
.description-content {
  padding-top: 20px;
  display: block;
}
